<div class="border" data-controller="widget-loader" data-widget-loader-class-name-value=<%= widget.class_name %> data-widget-loader-id-value=<%= widget.id %>>
  <p>Loading <%= widget.title %>...</p>
</div>
